//--------------------------------------------------------------------------
//                                  Colors
//--------------------------------------------------------------------------
$accent-color: #d2272b;
$header-text-color: #171919;
$text-color: #333;
$light-text-color: #898f96;
$substrate-color: #f3f5f7;


*, *::before, *::after {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 1.15;
	font-weight: 400;
	color: $text-color;
	&.no-scroll, &.opened-menu {
		overflow: hidden;
	}
}
.container {
	margin: 0 auto;
	padding-left: 12px;
	padding-right: 12px;
	width: 1440px;
}
.select {
	display: inline-block;
	position: relative;
	z-index: 1;
	width: 217px;
	padding: 0;
	background-color: #fff;
	&_modal {
		width: 435px;
		display: block;
		margin: 0 0 23px;

		.select {
			&__label {
				border: 1px solid $text-color;
				font-weight: 400;
				font-size: 14px;
				height: 35px;
				padding: 9px 58px 8px 24px;
			}
			&__label-svg {
				right: 24px;
				top: 0;
				bottom: 0;
				margin: auto;
			}
			&__list {
				border: 1px solid $text-color;
				border-top: none;
			}
			&__list-item  {
				padding: 9px 24px 8px;
				font-weight: 400;
				font-size: 14px;
				line-height: 1.15;
			}
		}
	}
	&.opened {
		z-index: 5;
		.select__label-svg {
			transform: rotateX(180deg);
		}
	}
	&__label {
		position: relative;
		text-align: left;
		cursor: pointer;
		display: inline-block;
		background: none;
		border: none;
		outline: none;
		margin: 0;
		padding: 0 27px 0 18px;
		box-sizing: border-box;
		width: 100%;
		height: 29px;
		font: 500 14px/1.15 'Roboto',sans-serif;
		color: $text-color;
	}
	&__label-value {
		vertical-align: middle;
		display: inline-block;
		overflow: hidden;
		max-width: 100%;
		max-height: 100%;
		white-space: nowrap;
	}
	&__label-svg {
		position: absolute;
		right: 9px;
		top: 12px;
		transition: 0.3s;
	}
	&__label-svg-path {
		fill: $text-color;
	}
	&__hidden-input {
		visibility: hidden;
	}
	&__list {
		background-color: #fff;
		clip: rect(0, 9999px, 0, 0);
		list-style: none;
		box-sizing: border-box;
		width: 100%;
		margin: 0;
		padding: 0;
		position: absolute;
		z-index: -1;
		top: 100%;
		left: 0;
		transition: clip 0.3s;
	}
	&__list-item {
		padding: 4px 18px;
		margin: 0;
		cursor: pointer;
		font-size: 14px;
		line-height: 1.5;
		font-weight: 500;
		color: $text-color;
	}
}
.section-heading {
	font-size: 45px;
	font-weight: 400;
	margin: 0 0 40px;
	text-align: center;
}
.section-link {
	color: $accent-color;
	text-decoration: none;
}
.common-slider {
	position: relative;
	&__slide {
		outline: none;
	}
	&__controls {
		position: absolute;
		top: 50%;
		left: 12px;
		right: 12px;
		bottom: auto;
	}
	&__arrow {
		padding: 0;
		border: 0;
		width: 15px;
		height: 30px;
		background: none;
		cursor: pointer;
		outline: none;
		position: absolute;
		top: -15px;
		bottom: auto;
		&::after {
			content: '';
			width: 20px;
			height: 20px;
			border: 1px solid #D5D3E0;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			transform: rotate(45deg);
		}
		&_prev {
			left: 0;
			&::after {
				left: 4px;
				border-top: none;
				border-right: none;
			}
		}
		&_next {
			right: 0;
			&::after {
				right: 4px;
				border-left: none;
				border-bottom: none;
			}
		}
	}
}

//--------------------------------------------------------------------------
//                        Select Region Header Section
//--------------------------------------------------------------------------
.select-region-header {
	background-color: $header-text-color;
	color: $light-text-color;
}
.container_select-region {
	font-size: 0;
	min-height: 43px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	.select {
		margin-right: 20px;
	}
}
.select-region-label {
	font-size: 14px;
	margin: 0 20px 0 150px;
}
.select-region-buttons-area {
	display: inline-block;
	font-size: 0;
}
.select-region-submit-btn {
	vertical-align: top;
	display: inline-block;
	outline: none;
	cursor: pointer;
	padding: 6px 30px;
	margin: 0 11px 0 0;
	border: none;
	background: $accent-color;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
}
.select-region-close-btn {
	vertical-align: top;
	display: inline-block;
	outline: none;
	cursor: pointer;
	padding: 9px;
	border: none;
	background: none;
	font-size: 0;
	&__icon {
		fill: $light-text-color;
		width: 11px;
		height: 11px;
	}
}
//--------------------------------------------------------------------------
//                              Header Section
//--------------------------------------------------------------------------
.header {
	background-color: #fff;
	color: $header-text-color;
	font-size: 14px;
	position: relative;
	padding-bottom: 1px;
	&::after {
		content: '';
		position: absolute;
		top: auto;
		left: 0;
		right: 0;
		bottom: 0;
		display: block;
		height: 1px;
		background-color: #cbd3e0;
	}
	&_sticky {
		z-index: 8;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: auto;
	}
}
.container_header {
	min-height: 43px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.header-logo {
	color: $accent-color;
	margin-left: 30px;
	font-weight: 500;
	text-decoration: none;
}
.header-navigation {
	font-size: 0;
	word-spacing: 55px;
	&__link {
		display: inline-block;
		font-size: 14px;
		word-spacing: normal;
		text-decoration: none;
		color: $text-color;
		&_current-page {
			color: $accent-color;
		}
	}
}
.header-buttons {
	font-size: 0;

}
.header-reserve-button {
	vertical-align: top;
	font-size: 14px;
	display: inline-block;
	font-weight: 500;
	background-color: $accent-color;
	text-decoration: none;
	color: #fff;
	padding: 14px 13px 13px 13px;
}
.header-search-button-wrapper {
	vertical-align: top;
	display: inline-block;
	padding: 13px 0 0 11px;
	position: relative;
}
.header-search-button {
	display: inline-block;
	&__icon {
		display: inline-block;
		width: 20px;
		height: 20px;
		fill: $text-color;
	}
}
.search-row-wrapper {
	display: none;
	justify-content: flex-start;
	align-items: flex-start;
	position: absolute;
	right: -12px;
	top: 0;
	bottom: auto;
	left: auto;
	width: 467px;
	background-color: #fff;
	border: 1px solid $accent-color;
	height: 43px;
	&_active {
		display: flex;
	}
}
.search-query-field {
	display: inline-block;
	width: 350px;
	background: none;
	border: none;
	outline: none;
	padding: 10px;
	height: 100%;
	font-family: 'roboto', sans-serif;
}
.search-btn {
	font-family: 'roboto', sans-serif;
	font-size: 14px;
	height: 100%;
	border: none;
	background: none;
	padding: 0 11px 0 9px;
	outline: none;
	cursor: pointer;
	&__icon {
		display: inline-block;
		width: 18px;
		height: 18px;
		vertical-align: bottom;
		margin-right: 7px;
	}
}
.close-search-btn {
	height: 100%;
	border: none;
	background: none;
	padding: 0 8px;
	outline: none;
	cursor: pointer;
	&__icon {
		display: inline-block;
		width: 11px;
		height: 11px;
	}
}
.mobile-header-menu-btn, .mobile-header-logo, .mobile-header-reserve-btn, .mobile-menu {
	display: none;
}

//--------------------------------------------------------------------------
//                          Main Slider Section
//--------------------------------------------------------------------------
.main-slider {
	padding: 0;
	background-color: #f3f5f7;
	.slick-dots {
		position: absolute;
		bottom: 50px;
		left: 0;
		right: 0;
		top: auto;
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		li {
			margin: 0 5px;
			font-size: 0;
			background-repeat: no-repeat;
			background-size: 15px 15px;
			background-position: center center;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15' width='15' height='15'%3e%3ccircle fill='%23d5d3e0' cx='7.5' cy='7.5' r='7.5'/%3e%3c/svg%3e");
			&.slick-active {
				background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15' width='15' height='15'%3e%3cpath fill='%23d5d3e0' d='M7.5 0C3.4 0 0 3.4 0 7.5S3.4 15 7.5 15 15 11.6 15 7.5 11.6 0 7.5 0zM7.5 11.3c-2.1 0-3.8-1.7-3.8-3.8 0-2.1 1.7-3.8 3.8-3.8s3.8 1.7 3.8 3.8C11.3 9.6 9.6 11.3 7.5 11.3z'/%3e%3c/svg%3e");
			}
			button {
				cursor: pointer;
				background: none;
				outline: none;
				border: none;
				border-radius: 50%;
				padding: 0;
				margin: 0;
				height: 15px;
				width: 15px;
				font-size: 0;
			}
		}
	}
	&__slide {
		height: 580px;
		position: relative;
		overflow: hidden;
	}
	&__arrow {
		&::after {
			border-color: $accent-color;
		}
	}
}
.slider-cover-image{
	position: absolute;
	top: -9999%;
	right: -9999%;
	bottom: -9999%;
	left: -9999%;
	margin: auto;
	min-height: 1000%;
	min-width: 1000%;
	transform: scale(0.1);
}
//--------------------------------------------------------------------------
//                          Advantages Section
//--------------------------------------------------------------------------
.advantages-section {

}
.container_advantages {
	padding-top: 40px;
}
.advantages {
	list-style: none;
	margin: 0 0 38px;
	padding: 0;
	font-size: 0;
	word-spacing: 12px;
	&__item {
		word-spacing: normal;
		position: relative;
		padding: 25px 50px;
		border-radius: 10px;
		width: 702px;
		min-height: 380px;
		display: inline-block;
		margin: 0 0 12px 0;
		font-size: 14px;
		overflow: hidden;
	}
	h2 {
		text-align: center;
		font-size: 30px;
		font-weight: 700;
		margin: 0 0 25px;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 20px;
		li {
			padding-left: 17px;
			position: relative;
			&::before {
				position: absolute;
				top: 10px;
				left: 5px;
				bottom: auto;
				right: auto;
				content: '';
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: $text-color;
			}
		}
	}
	&__image {
		position: absolute;
		top: auto;
		left: auto;
		bottom: 0;
		right: -5px;
	}
}
.advantages-inline {
	list-style: none;
	margin: 0 0 50px;
	padding: 0;
	font-size: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	&__item {
		display: inline-block;
		word-spacing: normal;
	}
	h3 {
		text-align: center;
		font-size: 20px;
		font-weight: 500;
		margin: 0 0 20px;
	}
	p {
		text-align: center;
		font-weight: 700;
		font-size: 50px;
		margin: 0;
	}
}

//--------------------------------------------------------------------------
//                          Feedback Section
//--------------------------------------------------------------------------
.feedback-section {

}
.container_feedback {
	font-size: 0;
	word-spacing: 12px;
}
.reviews-slider {
	margin: 0 0 12px;
	vertical-align: top;
	font-size: 20px;
	background-color: $substrate-color;
	border-radius: 10px;
	word-spacing: normal;
	display: inline-block;
	width: 702px;
	&__slide {
		padding: 24px 60px 10px;
		min-height: 180px;
	}
	&__text {
		margin: 0 0 2px;
	}
	&__author {
		margin: 0;
		text-align: right;
	}
}
.articles-slider {
	margin: 0 0 12px;
	vertical-align: top;
	font-size: 20px;
	background-color: $substrate-color;
	border-radius: 10px;
	word-spacing: normal;
	display: inline-block;
	width: 702px;
	&__slide {
		padding: 20px 45px;
		min-height: 180px;
	}
	&__heading {
		font-size: 30px;
		font-weight: 700;
		margin: 0 0 10px;
	}
	&__text {
		margin: 0 0 2px;
	}
	&__link {
		text-decoration: none;
		display: block;
		margin: 0;
		text-align: right;
		color: inherit;
	}
}
.minimap {
	position: relative;
	vertical-align: top;
	display: inline-block;
	width: 702px;
	margin: 0 0 12px;
	&__image {
		display: inline-block;
	}
}
.locations-on-map-list {
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
}
.map-location {
	display: none;
	width: 320px;
	min-height: 100px;
	word-spacing: normal;
	position: absolute;
	z-index: 1;
	border-radius: 10px;
	border: 1px solid $text-color;
	font-size: 20px;
	padding: 10px 15px;
	background-color: #fff;
	&__heading {
		text-align: center;
		padding: 0;
		margin: 0 0 2px;
		font-weight: 700;
	}
	&__text {
		text-align: center;
		padding: 0;
		margin: 0 0 2px;
	}
}
.locations-list {
	display: none;
}
.feedback-column {
	vertical-align: top;
	display: inline-block;
	width: 702px;
	word-spacing: 12px;
	font-size: 0;
	margin: 0 0 12px;
}
.extended-reviews-slider {
	margin: 0 0 12px;
	vertical-align: top;
	font-size: 20px;
	background-color: $substrate-color;
	border-radius: 10px;
	word-spacing: normal;
	display: inline-block;
	width: 702px;
	&__slide {
		position: relative;
		padding: 14px 50px;
		min-height: 180px;
	}
	&__author {
		font-size: 20px;
		font-weight: 500;
		margin: 0 0 20px 45px;
	}
	&__text {
		padding-left: 112px;
		margin: 0;
	}
	&__image {
		display: inline-block;
		position: absolute;
		bottom: 0;
		left: 45px;
		top: auto;
		right: auto;
		max-width: 100px;
		max-height: 120px;
	}
}
.feedback-video-wrapper {
	overflow: hidden;
	margin: 0;
	vertical-align: top;
	font-size: 20px;
	background-color: $substrate-color;
	border-radius: 10px;
	word-spacing: normal;
	display: inline-block;
	width: 702px;
}
.feedback-video {
	outline: none;
	border-radius: 10px;
	display: block;
	width: 100%;
}

//--------------------------------------------------------------------------
//                            Footer Section
//--------------------------------------------------------------------------
.footer {
	font-size: 14px;
	color: $light-text-color;
	background-color: $header-text-color;
}
.container_footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	min-height: 43px;
}
.footer-navigation {
	font-size: 0;
	word-spacing: 35px;
	margin: 0 190px;
	&__link {
		display: inline-block;
		word-spacing: normal;
		font-size: 14px;
		text-decoration: none;
		color: inherit;
	}
}
.footer-separator {
	display: none;
}
.footer-social {
	font-size: 0;
	word-spacing: 20px;
	margin: 0 30px 0 0;
	&__link {
		display: inline-block;
	}
	&__icon {
		vertical-align: middle;
		display: inline-block;
		height: 15px;
		fill: $light-text-color;
		&_facebook {
			height: 17px;
		}
		&_vkontakte {
			height: 12px;
		}
	}
	&__text {
		display: none;
	}
}

//--------------------------------------------------------------------------
//                             Modal Windows
//--------------------------------------------------------------------------
.modal-windows {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;
	&_opened {
		display: block;
	}
}
.modal-substrate {
	width: 100%;
	height: 100%;
	background-color: transparentize($text-color,.6);
}
.modal-window {
	display: none;
	top: 50%;
	left: 0;
	right: 0;
	transform: translate(0, -50%);
	position: absolute;
	width: 702px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px 41px;
	min-height: 702px;
	color: $text-color;
	&_opened {
		display: block;
	}
	&_reserve {

	}
	&_vacancies {

	}
}
.modal-window-close-btn {
	top: 6px;
	right: 6px;
	left: auto;
	bottom: auto;
	position: absolute;
	cursor: pointer;
	background: none;
	padding: 10px;
	border: none;
	outline: none;
	&__icon {
		display: block;
		width: 12px;
		height: 12px;
	}
}
.modal-heading {
	margin: 0 0 28px;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}
.modal-form {

}
.modal-input {
	display: block;
	background-color: #fff;
	border: 1px solid $text-color;
	font-size: 14px;
	font-family: 'roboto', sans-serif;
	line-height: 1.2;
	margin: 0 0 23px;
	width: 435px;
	padding: 9px 24px 8px;
	outline: none;
}
.modal-textarea {
	outline: none;
	display: block;
	width: 100%;
	height: 240px;
	resize: none;
	font-size: 14px;
	font-family: 'roboto', sans-serif;
	line-height: 1.2;
	border: 1px solid $text-color;
	padding: 16px 24px;
	margin: 0 0 23px;
}
.modal-message {
	font-weight: 500;
	margin: 0 0 20px;
	font-size: 18px;
}
.modal-link {
	color: $accent-color;
	text-decoration: none;
}
.modal-add-file-area {
	margin: 0 0 34px;
	font-size: 0;
	word-spacing: 20px;
}
.modal-button {
	vertical-align: middle;
	word-spacing: normal;
	display: inline-block;
	font-size: 14px;
	font-family: 'roboto', sans-serif;
	font-weight: 500;
	border: none;
	line-height: 1.2;
	padding: 10px 20px 9px;
	cursor: pointer;
	outline: none;
	&_add-file {

	}
	&_submit {
		background-color: $accent-color;
		color: #fff;
	}
	&_cancel {

	}
}
.modal-label {
	vertical-align: middle;
	word-spacing: normal;
	font-size: 14px;
	font-weight: 500;
}
.modal-buttons-area {
	text-align: center;
	word-spacing: 30px;
	font-size: 0;
}

//--------------------------------------------------------------------------
//                             About Section
//--------------------------------------------------------------------------
.about-section {}
.container_about {
	position: relative;
	padding-top: 50px;
}
.page-illustration {
	position: absolute;
	top: 38px;
	left: 30px;
}
.page-heading {
	font-weight: 300;
	font-size: 45px;
	text-transform: uppercase;
	margin: 0 0 45px 0;
	text-align: center;
}
.page-subheading {
	font-size: 45px;
	text-align: center;
	width: 1187px;
	margin: 0 auto 40px;
}
.page-text {
	width: 784px;
	margin: 0 auto 35px;
	font-size: 30px;
	text-align: center;
}
.counter {
	position: relative;
	margin: 0 0 12px;
	&__heading {
		font-size: 30px;
		font-weight: 700;
		margin: 0 auto 45px;
		text-align: center;
	}
	&__items-wrapper {
		width: 930px;
		margin: 0 auto;
		padding: 0 0 40px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	&__item {
		display: inline-block;
		text-align: center;
		padding: 0 5px;
	}
	&__item-heading {
		margin: 0 0 12px;
		font-size: 20px;
		font-weight: 500;
	}
	&__item-value {
		margin: 0;
		font-size: 50px;
		font-weight: 700;
	}
	&__illustration {
		position: absolute;
		top: auto;
		bottom: 0;
		&_left {
			left: 0;
		}
		&_right {
			right: 0;
		}
	}
}
.cards-wrapper {
	font-size: 0;
	word-spacing: 12px;
	margin: 0 0 12px;
}
.card {
	position: relative;
	word-spacing: normal;
	font-size: 20px;
	display: inline-block;
	width: 702px;
	min-height: 380px;
	vertical-align: top;
	border-radius: 10px;
	padding: 50px 30px;
	&__text {
		display: block;
		margin: 0 0 0 auto;
		width: 300px;
	}
	&__illustration {
		position: absolute;
		bottom: 0;
		left: 0;
	}
	&__mobile-illustration {
		display: none;
	}
}
.agitation {
	position: relative;
	font-size: 0;
	word-spacing: 40px;
	min-height: 335px;
	padding: 30px 0;
	margin: 0 0 12px;
	&__heading {
		font-size: 30px;
		font-weight: 700;
		word-spacing: normal;
		display: inline-block;
		width: 486px;
		margin: 0 0 0 77px;
		vertical-align: top;
	}
	&__text {
		font-size: 20px;
		word-spacing: normal;
		display: inline-block;
		width: 524px;
		margin: 80px 0 0;
	}
	&__illustration {
		position: absolute;
		bottom: 30px;
		right: 77px;
	}
}
.page-buttons-area {
	position: relative;
	font-size: 0;
	word-spacing: 12px;

	&__group {
		padding-top: 90px;
		padding-bottom: 206px;
		display: inline-block;
		width: 702px;
		word-spacing: normal;
		text-align: center;
	}
	&__illustration {
		display: inline-block;
		position: absolute;
		left: 0;
		right: 0;
		top: 43px;
		margin: auto;
		bottom: auto;
		max-height: 100%;
	}
	&__group-heading {
		font-size: 30px;
		font-weight: 700;
		margin: 0 0 35px;
	}
	&__group-heading-link {
		text-decoration: none;
		color: $accent-color;
	}
	&__group-button {
		font-size: 14px;
		display: inline-block;
		background-color: $accent-color;
		text-decoration: none;
		color: #fff;
		padding: 10px 23px 9px;
		outline: none;
		cursor: pointer;
	}
}


//--------------------------------------------------------------------------
//                          To Parents Section
//--------------------------------------------------------------------------
.to-parents-section {}
.container_to-parents {
	position: relative;
	padding-top: 50px;
}
.to-parents-columns {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 0 0 17px;
}
.to-parents-column {
	display: inline-block;
	word-spacing: normal;
	&__image {
		display: block;
		width: 100%;
		margin: 2px 0 35px;
	}
	&__heading {
		font-size: 30px;
		font-weight: 700;
		margin: 0 0 25px;
	}
	&__text {
		font-size: 20px;
		margin: 0 0 23px;
	}
	&_first {
		width: 472px;
	}
	&_second {
		width: 762px;
		margin-right: 55px;
	}
}
.block-heading {
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	margin: 0 0 50px;
}
.scheme-locations {
	position: relative;
	word-spacing: 12px;
	font-size: 0;
	margin: 0 0 30px;

	&__item {
		word-spacing: normal;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 273px;
		min-height: 180px;
		border-radius: 10px;
		background-color: #E8F3FA;
		text-align: center;
		margin: 0 0 12px;
		cursor: pointer;
	}
	&__text {
		font-size: 20px;
	}
	&__hidden-part {
		cursor: auto;
		text-align: left;
		padding: 20px 25px;
		font-size: 20px;
		position: absolute;
		background-color: #fff;
		border: 1px solid $text-color;
		border-radius: 10px;
		width: 702px;
		min-height: 702px;
		left: 0;
		top: 0;
		display: none;
		&_opened {
			display: block;
		}
	}
	&__hidden-part-heading {
		text-align: center;
		font-size: 30px;
		margin: 0 0 30px;
	}
	&__hidden-part-text-group {
		margin: 0 0 40px;
	}
	&__hidden-part-address {
		text-align: center;
		margin: 0 0 20px;
		font-weight: 700;
	}
	&__hidden-part-text {
		margin: 0 0 23px;
	}
	&__hidden-part-accent {
		font-weight: 700;
	}
}
.to-parents-information-wrapper {
	font-size: 0;
	word-spacing: 10px;
	margin: 0 0 45px;
}
.to-parents-information {
	display: inline-block;
	width: 558px;
	vertical-align: top;
}
.information {
	padding: 25px 50px 10px;
	font-size: 20px;
	word-spacing: normal;
	text-align: center;
	border-radius: 10px;
	margin: 0 0 45px;
	&__item {
		margin: 0 0 40px;
	}
	&__icon {
		display: block;
		margin: 0 auto 25px;
		max-width: 100%;
		max-height: 110px;
	}
	&__text {
		margin: 0 0 23px;
		&_without-bottom-margin {
			margin-bottom: 0;
		}
	}
	&__list {
		display: inline-block;
		padding: 0 0 0 30px;
		margin: 0;
	}
	&__list-item {
		text-align: left;
	}
}
.to-parents-information-image {
	vertical-align: top;
	display: inline-block;
	max-width: 848px;
}
.page-buttons-area__group_to-parents {
	width: auto;
	display: block;
	padding: 0;
}

//--------------------------------------------------------------------------
//                          To Trainers Section
//--------------------------------------------------------------------------
.to-trainers-section {}
.container_to-trainers {
	position: relative;
	padding-top: 50px;
}
.to-trainers-text-group {
	position: relative;
	margin: 0 0 40px;
}
.to-trainers-text {
	margin: 0 auto 23px 104px;
	width: 815px;
}
.to-trainers-illustration {
	position: absolute;
	bottom: 0;
	right: 10px;
	left: auto;
	top: auto;
}
.stages {
	border-radius: 10px;
	padding: 55px 55px 15px;
	vertical-align: top;
	display: inline-block;
	width: 702px;
	margin: 0 0 40px;
	&_right {
		padding-left: 80px;
		padding-right: 80px;
		.stages {
			&__heading {
				margin-bottom: 20px;
			}
			&__item {

			}
			&__icon-column {
				width: 250px;
				justify-content: center;
			}
			&__icon {

			}
			&__text-column {
				width: 250px;
				justify-content: center;
			}
			&__text {

			}
		}
	}
	.stages__item:nth-of-type(2n+1) {
		.stages__icon-column {
			order:2;
		}
		.stages__text-column {
			order:1;
		}
	}
	&__heading {
		text-align: center;
		font-size: 30px;
		font-weight: 700;
		margin: 0 0 40px;
	}
	&__item {
		margin: 0 0 40px;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}
	&__icon-column {
		width: 160px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	&__icon {
		display: block;
	}
	&__text-column {
		width: 430px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	&__text {
		font-size: 20px;
		margin: 0;
	}
}
.to-trainers-stages-image {
	vertical-align: top;
	display: inline-block;
	margin-left: 62px;
}
.to-trainers-raiting {
	position: relative;
	display: inline-block;
	width: 702px;
	vertical-align: top;
	padding-bottom: 300px;
	&__heading {
		font-size: 30px;
		font-weight: 700;
		text-align: center;
		margin: 55px 0 20px;
	}
	&__image {
		display: block;
		margin: 0 auto;
		padding-left: 80px;
	}
	&__illustration {
		position: absolute;
		bottom: 0;
		left: 0;
	}
}


//--------------------------------------------------------------------------
//                             Media Queries
//--------------------------------------------------------------------------
@media (min-width: 1440px) {
	.select-region-submit-btn:hover {
		background-color: #da383c;
	}
	.select__list-item:hover {
		background-color: $substrate-color;
	}
	.modal-link:hover {
		text-decoration: underline;
	}
	.header-logo:hover {
		text-decoration: underline;
	}
	.header-navigation__link:hover {
		color: $accent-color;
	}
	.header-reserve-button:hover {
		background-color: #da383c;
	}
	.articles-slider__link:hover {
		text-decoration: underline;
	}
	.footer-navigation__link:hover {
		text-decoration: underline;
	}
	.page-buttons-area__group-heading-link:hover {
		text-decoration: underline;
	}
	.page-buttons-area__group-button:hover {
		background-color: #da383c;
	}
	.modal-button:hover {
		background-color: #f5f5f5;
	}
	.modal-button_submit:hover {
		background-color: #da383c;
	}
	.section-link:hover {
		text-decoration: underline;
	}

}
@media (max-width: 1439px) {
	.section-heading {
		font-size: 23px;
		margin: 0 0 30px;
	}
	.container {
		width: 320px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.container_select-region {
		position: relative;
		display: block;
		.select {
			width: 180px;
			margin-right: 18px;
		}
	}
	.select-region-buttons-area {
		vertical-align: top;
		margin: 0 0 21px;
	}
	.select-region-submit-btn {
		margin: 0;
	}
	.select-region-close-btn {
		padding: 0;
		position: absolute;
		top: 12px;
		right: 10px;
	}
	.select-region-label {
		display: block;
		padding-top: 12px;
		padding-right: 20px;
		margin: 0 0 7px;
	}
	.container_header {
		min-height: 38px;
	}
	.header-logo, .header-navigation, .header-buttons {
		display: none;
	}
	.main-slider {
		padding: 0;
		&__slide {
			height: 300px;
		}
	}
	.container_advantages {
		padding-top: 30px;
	}
	.advantages {
		margin: 0 0 20px;
		h2 {
			font-size: 23px;
		}
		ul {
			font-size: 14px;
			li {
				&::before {
					top: 5px;
				}
			}
		}
	}
	.advantages__item {
		margin-bottom: 10px;
		width: 300px;
		padding: 10px 15px 210px;
		h2 {
			
		}
	}
	.advantages__image {
		max-width: 270px;
	}
	.advantages-inline {
		margin: 0 0 5px;
		h3 {
			font-size: 14px;
			margin-bottom: 5px;
		}
		p {
			font-size: 30px;
			margin-bottom: 18px;
		}
	}
	.reviews-slider {
		margin-bottom: 10px;
		width: 300px;
		font-size: 14px;
		&__slide {
			padding: 35px 40px 30px 45px;
		}
	}
	.common-slider__controls {
		left: 8px;
		right: 8px;
	}
	.articles-slider {
		margin-bottom: 10px;
		width: 300px;
		&__slide {
			padding: 10px 35px 30px 40px;
		}
		&__heading {
			font-size: 23px;
			text-align: center;
			margin-bottom: 25px;
		}
		&__text {
			font-size: 14px;
		}
		&__link {
			font-size: 14px;
		}
	}
	.minimap {
		margin-bottom: 10px;
		width: 300px;
	}
	.minimap__image {
		display: none;
	}
	.locations-list {
		display: block;
		font-size: 14px;
		word-spacing: normal;
		> .locations-item:last-of-type .locations-text {
			padding-bottom: 35px;
			border-radius: 0 0 10px 10px;
		}
	}
	.locations-heading {
		margin: 0;
		font-size: 23px;
		font-weight: 700;
		text-align: center;
		padding-bottom: 25px;
		padding-top: 10px;
		background-color: #E8F3FA;
		border-radius: 10px 10px 0 0;
	}
	.locations-group-name {
		font-size: 14px;
		font-weight: 400;
		color: #D2272B;
		background-color: #E8F3FA;
		margin: 0;
		padding: 0 15px 2px;
	}
	.locations-item {
		&_opened {
			.locations-map {
				display: block;
			}
			.locations-text {
				padding-bottom: 30px;
				border-radius: 0 0 10px 10px;
			}
			.locations-pseudo-element {
				height: 30px;
				border-radius: 10px 10px 0 0;
				background-color: #E8F3FA;
			}
		}
	}
	.locations-text {
		font-size: 14px;
		font-weight: 400;
		background-color: #E8F3FA;
		margin: 0;
		padding: 0 15px 2px 35px;
		cursor: pointer;
	}
	.locations-map {
		display: none;
		padding: 10px 0;
	}
	.feedback-column {
		width: 300px;
	}
	.extended-reviews-slider {
		width: 300px;
		margin-bottom: 10px;
		&__slide {
			padding: 32px 32px 140px;
			min-height: unset;
		}
		&__author {
			font-size: 14px;
			margin: 0 0 8px;
		}
		&__text {
			font-size: 14px;
			padding: 0;
		}
		&__image {
			left: 0;
			right: 0;
			margin: auto;
			max-height: 125px;
			max-width: 300px
		}
	}
	.feedback-video-wrapper {
		width: 300px;
	}
	.container_footer {
		display: block;
	}
	.footer {
		overflow: hidden;
	}
	.footer-navigation {
		padding-top: 30px;
		margin: 0;
		&__link {
			padding: 7px 0;
			display: block;
			text-align: center;
		}
	}
	.footer-location {
		display: block;
		text-align: center;
		padding: 7px 0;
		margin: 0 0 15px;
	}
	.footer-separator {
		height: 1px;
		display: block;
		position: relative;
		margin: 0 0 24px;
		&::after {
			content: '';
			position: absolute;
			left: -50vw;
			right: -50vw;
			height: 1px;
			background-color: #898F96;

		}
	}
	.footer-social {
		text-align: center;
		margin: 0;
		padding-bottom: 35px;
	}
	.modal-window {
		width: 300px;
		padding: 20px 15px;
		max-height: 100%;
		min-height: 300px;
		overflow: auto;
	}
	.modal-heading {
		font-size: 23px;
	}
	.modal-input {
		width: 100%;
	}
	.select_modal {
		width: 100%;
	}
	.modal-button_add-file {
		display: block;
		margin: 0 auto 8px;
	}
	.modal-label {
		display: block;
		text-align: center;
	}
	.modal-add-file-area {
		margin-bottom: 30px;
	}
	.modal-buttons-area {
		word-spacing: 25px;
	}
	.modal-message {
		font-size: 14px;
		margin: 0 0 14px;
	}
	.mobile-header-menu-btn {
		display: block;
		position: relative;
		width: 30px;
		height: 30px;
		padding: 0;
		border: none;
		outline: none;
		background: none;
		cursor: pointer;
		&::before, &::after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			width: 21px;
			height: 1px;
			border-radius: 0.5px;
			background-color: $text-color;
			transform-origin: 50% 50%;
			transform: translateY(-50%);
		}
		&::before {
			transform: translateY(-50%) translateY(-4px);
		}
		&::after {
			transform: translateY(-50%) translateY(4px);
		}
	}
	.mobile-header-logo {
		display: block;
		font-size: 18px;
		color: $accent-color;
		text-decoration: none;
	}
	.mobile-header-reserve-btn {
		display: block;
		width: 30px;
		height: 30px;
		border: none;
		padding: 3px 0 3px 3px;
		background: none;
		outline: none;
		cursor: pointer;
		text-align: right;
		&__icon {
			display: inline-block;
			vertical-align: middle;
			max-width: 100%;
			max-height: 100%;
		}
	}
	.mobile-menu {
		background-color: #fff;
		display: none;
		position: fixed;
		z-index: 9;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		overflow: auto;
		&_opened {
			display: block;
		}
		&__close-btn {
			display: block;
			position: relative;
			width: 30px;
			height: 30px;
			padding: 0;
			border: none;
			outline: none;
			background: none;
			cursor: pointer;
			&::before, &::after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				width: 21px;
				height: 1px;
				border-radius: 0.5px;
				background-color: $text-color;
				transform-origin: 50% 50%;
				transform: translateY(-50%);
			}
			&::before {
				transform: translateY(-50%) rotate(45deg);
			}
			&::after {
				transform: translateY(-50%) rotate(-45deg);
			}
		}
		&__logo {
			display: block;
			font-size: 18px;
			color: $accent-color;
			text-decoration: none;
		}
		&__image {
			display: inline-block;
			max-width: 160px;
			max-height: 50px;
			margin: 0 0 32px;
		}
		&__reserve-btn {
			display: block;
			width: 30px;
			height: 30px;
			border: none;
			padding: 3px 0 3px 3px;
			background: none;
			outline: none;
			cursor: pointer;
			text-align: right;
		}
		&__reserve-btn-icon {
			display: inline-block;
			vertical-align: middle;
			max-width: 100%;
			max-height: 100%;
		}
		&__separator {
			height: 1px;
			background-color: #cbd3e0;;
		}
		&__navigation {

		}
		&__navigation-link {
			display: block;
			margin: 0 0 25px;
			text-decoration: none;
			text-align: center;
			color: $text-color;
			font-size: 18px;
			&_current-page {
				color: $accent-color;
			}
		}
		&__message {
			color: $accent-color;
			font-size: 18px;
		}
	}
	.container_mobile-menu-header {
		background-color: #fff;
		min-height: 38px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	.container_mobile-menu-content {
		text-align: center;
		padding-top: 37px;
	}
	.search-dimming {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: transparentize($text-color,.6);
		&_active {
			display: block;
		}	
	}
	.header-search-button-wrapper_mobile-menu {
		padding: 0;
		.header-search-button__icon {
			width: 26px;
			height: 26px;
		}
		.search-row-wrapper {
			top: -100px;
			bottom: -100px;
			left: -9999px;
			right: -9999px;
			margin: auto;
			width: 300px;
		}
		.search-query-field {
			width: 185px;
		}
	}
	.container_about {
		padding-top: 30px;
	}
	.page-illustration {
		display: none;
	}
	.page-heading {
		font-size: 25px;
		margin-bottom: 30px;
	}
	.page-subheading {
		font-size: 23px;
		font-weight: 400; 
		width: 100%;
		margin-bottom: 20px;
	}
	.page-text {
		font-size: 23px;
		width: 100%;
		margin-bottom: 20px;
	}
	.counter {
		&__heading {
			font-size: 23px;
			margin-bottom: 20px;
		}
		&__items-wrapper {
			padding-bottom: 0;
			margin-bottom: 30px;
			width: 100%;
			display: block;
		}
		&__item {
			display: block;
			padding-left: 0;
			padding-right: 0;
			margin-bottom: 15px;
		}
		&__item-heading {
			font-size: 14px;
			margin-bottom: 7px;
		}
		&__item-value {
			font-size: 30px;
		}
		&__illustration {
			display: none;
		}
	}
	.cards-wrapper {
		margin: 0;
	}
	.card {
		width: 100%;
		padding: 0;
		min-height: unset;
		margin: 0 0 10px;
		&__text {
			display: block;
			width: 100%;
			margin: 0;
			padding: 30px 15px 0;
		}
		&__illustration {
			display: none;
		}
		&__mobile-illustration {
			display: block;
			width: 100%;
		}
	}
	.agitation {
		padding: 20px 0 98px;
		margin: 0 0 5px;
		min-height: unset;
		&__heading {
			display: block;
			margin: 0 0 22px;
			width: auto;
			font-size: 23px;
			text-align: center;
		}
		&__text {
			display: block;
			width: 220px;
			margin: 0 auto;
			font-size: 14px;
		}
		&__illustration {
			height: 74px;
			bottom: 20px;
			right: 0;
		}
	}
	.page-buttons-area {
		&__group {
			padding: 0;
			padding-top: 10px;
			width: 100%;
			display: block;
			margin-bottom: 37px;
		}
		&__illustration {
			display: block;
			margin: 0 auto 10px;
			position: static;
			height: 276px;
		}
		&__group-heading {
			font-size: 23px;
			margin-bottom: 40px;
		}
	}
	.hidden-on-mobile {
		display: none;
	}
	.container_to-parents {
		padding-top: 30px;
	}
	.locations-list_to-parents {
		margin: 0 0 40px;
	}
	.to-parents-column {
		&__heading {
			font-size: 23px;
			margin: 0 0 15px;
		}
		&__text {
			font-size: 14px;
			margin: 0 0 16px;
		}
		&__image {
			margin-top: 0;
			margin-bottom: 23px;
		}
		&_first {
			width: 100%;
			order: 2;
		}
		&_second {
			width: 100%;
			order: 1;
			margin-right: 0;
		}
	}
	.section-heading_to-parents {
		margin-bottom: 40px;
	}
	.to-parents-information-wrapper {
		margin-bottom: 38px;
	}
	.to-parents-information {
		width: 100%;
	}
	.information {
		font-size: 14px;
		padding: 30px 23px 15px;
		margin-bottom: 30px;
		&__item {
			margin-bottom: 20px;
		}
		&__icon {
			max-height: 70px;
			margin-bottom: 15px;
		}
		&__text {
			margin-bottom: 16px;
			&_without-bottom-margin {
				margin-bottom: 0;
			}
		}
	}
	.page-buttons-area__group_to-parents {
		padding-top: 0;
		margin-bottom: 0;
		.page-buttons-area__group-heading {
			margin-bottom: 30px;
		}
	}
	.container_to-trainers {
		padding-top: 30px;
	}
	.to-trainers-text {
		font-size: 14px;
		margin: 0 0 16px;
		width: auto;
	}
	.to-trainers-text-group {
		margin-bottom: 30px;
	}
	.stages {
		display: block;
		width: auto;
		padding: 15px 15px 5px;
		margin-bottom: 30px;
		&__heading {
			font-size: 23px;
			margin-bottom: 30px;
		}
		&__item {
			display: block;
			margin-bottom: 30px;
		}
		&__icon-column {
			width: auto;
			justify-content: center;
			margin: 0 0 10px;
		}
		&__icon {
			max-width: 66px;
		}
		&__text-column {
			width: auto;
			display: block;
		}
		&__text {
			font-size: 14px;

		}
	}
}